@import url('https://fonts.googleapis.com/css?family=Poiret+One');


.title-text {
    font-size: 120px;
    text-align: center;
    margin: 20px 0;
}
.discription-text {
    font-size: 20px;
    text-align: center;
    margin: 50px 200px;
}

.container {
    margin:auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 90%;
    height: 40%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    font-family: 'Poiret One', cursive;
}

nav {
    display: flex;
    text-transform: uppercase;
    justify-content: flex-end;
}

a {
    font-size: 30px;
    color: #333333;
    text-decoration: none;
    margin: 15px 30px;
    border-bottom: 1px solid #505050;
    transition: 0.5s linear;
}

a:hover {
    border-bottom: 1px solid rgb(233, 135, 43);
}



@media screen and (max-width:1280px) {
    nav {
        justify-content: center;
    }
    img {
        width: 80%;
    }
    .title-text {
        font-size: 70px;
        margin: 50px 0;
    }
    .container {
        width: 100%;
    }
    .discription-text {
        margin: 30px 70px;
    }
}

@media screen and (max-width:680px) {
    nav {
        flex-direction: column;
        align-items: center;
        background-color: #333333;
    }
    a {
        color: white;
        border-bottom-color: white;
    }
    img {
        width: 100%;
        border-radius: 0;
    }
    .title-text {
        font-size: 50px;
    }
    .discription-text {
        margin: 20px;
    }
    .container {
        width: 100%;
    }
}